/* color-theme:  #78429a; */
body{
    font-family: 'Montserrat', sans-serif;
}

/* menu header */
.header-top{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top:0;
    align-items: center;
    z-index: 10;
}

.header-padding {
    display: flex;
    width: 92%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

nav{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-around;
    /* margin-right: 20px; */
}
    
nav a{
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.logo-header:hover{
    cursor:pointer;
}

/* Home Page */

.slide-one{
    background: url("../images/homepage_1.jpg")
    no-repeat center;
}

.slide-two{
    background: url("../images/homepage_2.jpg")
    no-repeat center;
}

.slide-three{
    background: url("../images/homepage_3.jpg")
    no-repeat center;
}

.slides{
    height: 800px !important;
    background-size: cover !important;
}

.slide-container{
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
}

.header-padding .logo-header{
    height: auto;
    width: 200px;
}

/* .header-image{
    width: 100%;
    height: 800px;
} */

.welcome-box{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    bottom: 30px;
    right: 90px;
    padding: 30px;
    width: 400px;
    height: 220px;
}


.welcome-box h1{
    color: white;
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 15px;
}

.welcome-box h3{
    color: white;
    font-size: 19px;
    font-weight: 100;
    line-height: 23px;
}

.welcome-box a{
    text-decoration: none;
    color: white;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 200;
}

#blockquote{
    height: 300px;
    display: block;
}

blockquote{
    width: 50%;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    margin: auto;
    color: #666666;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    line-height: 40px;
    font-family: 'Cormorant Garamond', serif; 
}

#blockquote h2{
    width: 55%;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #666666;
    margin: auto;
    font-family: 'Cormorant Garamond', serif; 
}

#company-profile{
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}

#inside-box{
    display:flex;
    justify-content: space-between;
    width:92%;
}

#company-profile .profile{
    width: 30%;
}

.profile.simplicity{
    background: url("../images/about_simplicity.jpg") no-repeat;
    height: 280px;
    background-size: cover;
    transition: all 0.5s ease;
}

.profile.classic{
    background: url("../images/about_classic.jpg") no-repeat;
    height: 280px;
    background-size: cover;
    transition: all 0.5s ease;
}

.profile.modern{
    background: url("../images/about_modern.jpg") no-repeat;
    height: 280px;
    background-size: cover;
    transition: all 0.5s ease;
}

.profile.simplicity:hover{
    background: url("../images/about_simplicity2.jpg") no-repeat;
    height: 280px;
    background-size: cover;
    cursor: pointer;
}

.profile.classic:hover{
    background: url("../images/about_classic2.jpg") no-repeat;
    height: 280px;
    background-size: cover;
    cursor: pointer;
}

.profile.modern:hover{
    background: url("../images/about_modern2.jpg") no-repeat;
    height: 280px;
    background-size: cover;
    cursor: pointer;
}

#company-profile .home-images{
    width: 85%;
    height: 280px;
}

#inside-box h1{
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
    margin-top: 125px;
}

#company-profile article{
    font-size: 15px;
    font-weight: 200;
    color: white;
    text-align: center;
    margin: 0 auto;
}

h4{
    display: block;
    margin: 0 auto;
    font-size: 14px;
    color: #666666;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

#inside-box h2{
    line-height: 25px;
    padding: 0 10px;
    margin-top: 55px;
}

#social-media{
    position: fixed;
    right: 0;
    top: 45vh;
    margin-right: 20px;
}

#social-media .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}

footer{
    height: 150px;
}

#logo-footer{
    display: block;
    margin: 0 auto;
    width: 180px;
}

nav a:hover{
    cursor: pointer;
  }

.welcome-box a:hover {
    cursor: pointer;
}

#facebook{
    width: 40px;
    height: 40px;
    background: url("../images/fb_logo.png") no-repeat;
    background-size: cover;
}

#insta{
    width: 40px;
    height: 40px;
    background: url("../images/insta_logo.png") no-repeat;
    background-size: cover; 
}

#twitter{
    width: 40px;
    height: 40px;
    background: url("../images/twitter_logo.png") no-repeat;
    background-size: cover;
}

#pinterest{
    width: 40px;
    height: 40px;
    background: url("../images/pinterest_logo.png") no-repeat;
    background-size: cover; 
}

#facebook:hover{
    width: 40px;
    height: 40px;
    background: url("../images/fb_logo3.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}

#insta:hover{
    width: 40px;
    height: 40px;
    background: url("../images/insta_logo3.png") no-repeat;
    background-size: cover; 
}

#pinterest:hover{
    width: 40px;
    height: 40px;
    background: url("../images/pinterest_logo3.png") no-repeat;
    background-size: cover; 
}

#twitter:hover{
    width: 40px;
    height: 40px;
    background: url("../images/twitter_logo3.png") no-repeat;
    background-size: cover;
}


/* About Page */

.about-trace{
    height:50px;
    width: 100%;
    display: block;
    margin-left: 63px;
    margin-top: 80px;
    padding-top: 30px;
    font-size: 17px;
    font-weight: 400;
    color: #78429a;
    text-decoration: none;
}

.about-trace:hover{
    cursor: pointer;
}

.main-body{
    display: flex;
    justify-content: space-around;
    margin: 0 40px;
}

.top-body{
    height: 250px;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.top-body.background-image{
    background-image: url("../images/photo-team.jpg") no-repeat;
    background-size: cover;
    width: 100%;
}

.top-body .quote{
    width: 30%;
}

.top-body .about-us{
    width: 68%;
}

.quote h1{
    font-size: 350px;
    opacity: 0.4;
    font-family: 'Cinzel', serif;
    color: #78429a;
    position: absolute;
}

.quote h2{
    font-size: 30px;
    color: #78429a;
    font-weight: 600;
    width: 350px;
    margin-left: 50px;
    margin-top: 60px;
    line-height: 40px;
}

.about-us h2{
    font-size: 18px;
    font-weight: 400;
    color: #78429a;
    line-height: 25px;
}

/* .main-body{
    width: 100%;
    display: block;
    height: 400px;
}

.top-body{
    padding: 15px;
    margin: 0 auto;
}

.quote{
    width: 25%;
    top: 0;
    left: 0;
}

.about-us{
    width: 65%;
    float: left;
} */


/* Portfolio Page */

.portfolio-trace{
    height:50px;
    width: 100%;
    display: block;
    margin-left: 63px;
    margin-top: 80px;
    padding-top: 30px;
    font-size: 17px;
    font-weight: 400;
    color: #78429a;
    text-decoration: none;
}

.portfolio-trace:hover{
    cursor: pointer;
}

.portfolio-intro{
    width: 100%;
    height: 230px;
    text-align: center;
}

.portfolio-intro h1{
    font-size: 35px;
    font-weight: 200;
    color: #78429a;
}

.portfolio-intro h3{
    font-size: 16px;
    width: 900px;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    line-height: 25px;
}

.portfolio-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 920px;
}

.residential{
    background: url("../images/portfolio_residential.jpg") no-repeat;
    width: 280px;
    height: 180px;
    background-size: cover;
    border-radius: 10px;
    padding: 25px;
}

.commercial{
    background: url("../images/portfolio_commercial.jpg") no-repeat;
    width: 280px;
    height: 180px;
    background-size: cover;
    border-radius: 10px;
    padding: 25px;
}

.renovations{
    background: url("../images/portfolio_renovations.jpg") no-repeat;
    width: 280px;
    height: 180px;
    background-size: cover;
    border-radius: 10px;
    padding: 25px;
}

.body-box{
    display: flex;
    width:70%;
    justify-content: space-around;
    background-color:rgba(0,0,0,0.6);
    height:270px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
}

.portfolio-box{
    width: 580px;
}

.portfolio-box h1{
    font-size: 25px;
    color: white;
    font-weight: 300;
    margin-bottom: 25px;
}

.portfolio-box h3{
    font-size: 18px;
    color: white;
    font-weight: 200;
    margin-bottom: 60px;
    line-height: 25px;
}

.portfolio-box a{
    text-decoration: none;
    color: white;
    float: right;
    margin-right: 30px;
}

.portfolio-box a:hover{
    cursor: pointer;
}

/* Contact Us Page */

.container-contactus{
    width: 90%;
    height:1000px;
    margin-top: 200px;
   margin-left: 60px;
}

.form-row{
    margin-bottom: 40px;
}

label{
    margin-bottom: 10px;
}

#body-portfolio{
    background: url("../images/background_contactus.jpg") no-repeat;
    background-size: cover;
    width: 100%;
}